<ul class="nav nav-pills nav-stacked">

	<li class="nav-header">Contacts</li>
	
	<div class="input-append">
		<input id="appendedInputButton" type="text" style="width:175px">
		<button class="btn" type="button"><i class="icon-user"> </i> Search</button>
	</div>
	
	@defining(controllers.User.getUserUUID().get()) { userUUID =>
		@defining(controllers.Sessions.getUserContacts(userUUID)) { contacts =>
			@contacts.map { contact =>
				@contact.getPhoneNumbers().map { phoneNumber => 
					<li title="@phoneNumber" onClick="choixContact('@phoneNumber')"><a>@contact.getName()</a></li>
				}
			}
		}
	}
	
</ul>



<script type="text/javascript">

	//$(".contactClick").click(function() { confirm('fenetre_popup') });
	function choixContact(phoneNumber) {
		alert("Mettre a jour la vue associee au numero : " + phoneNumber);
		//document.getElementById("messages");
	}

</script>