@(title: String, emailAddress: String, contacts: Collection[models.Contact])

<!DOCTYPE html>
	<html>
		@htmlHeader(title)
		@websocket()
<body>

<div class="ui-layout-center">
	
	<div class="inner-center">
		<table id="messages" style="width:100%">
		  <tr>
		  </tr>
		</table>
	</div>
	
	<div class="ui-layout-south">
			<div class="input-append" style="width:90%;">
				<input id="talk" type="text" style="width:90%;">
				<button class="btn sendButton" type="button">Send <i class="icon-comment"></i></button>
				<button class="btn clearButton" type="button">Clear <i class="icon-remove"></i></button>
			</div>
	</div>
	
</div>

<div class="ui-layout-west">@contactsView(contacts)</div>

<div class="ui-layout-north">@headerView(emailAddress)</div>
<div class="ui-layout-south"><div class="centered-text">Croquette<i>!</i> 2012</div></div>

</body>
</html>