<script type="text/javascript">

// create websocket
var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
var chatSocket = new WS("@routes.Application.chatSocket().webSocketURL()")

$(function() {
	
	function getSelectedPhoneNumber() {
		return $('li.active').attr("title")
	}
	
	
	/**
	 * return the message in the text area formatted as json
	 */
	function getMessageToSend() {
		return $("#talk").val()
	}
	
	/**
	 * erase everything in the text area
	 */
	function emptyTalkTextArea () {
        $("#talk").val('')
	}
	
	/**
	 * send a message when pressing enter key
	 */
    $("#talk").keypress(function (key) {
    	if (keyPressedIsReturnKey(key)) {
    		sendMessage(chatSocket, getMessageToSend(), getSelectedPhoneNumber())
    		emptyTalkTextArea()
    	}
    })
	
    
	/**
	 * send a message when clicking the "send" button 
	 */
	$(".sendButton").click(function() {
		if (getMessageToSend() == "") {
			alert("Saisissez un message")
			return
		}
		if (getSelectedPhoneNumber() == "") {
			alert("Sélectionnez un contact")
			return
		}
		sendMessage(chatSocket, getMessageToSend(), getSelectedPhoneNumber())
		emptyTalkTextArea()
	});
		
    
    /**
     * handle every message received with the websocket 
     */
	chatSocket.onmessage = handleIncomingMessage    

			
	/**
	 * clear conversation
	 */
	$(".clearButton").click(clearConversation);
			
	
})
        
</script>