<script type="text/javascript">

// create websocket
var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
var chatSocket = new WS("@routes.Application.chatSocket().webSocketURL()")

$(function() {
	
	function getSelectedPhoneNumber() {
		return $('li.active').attr("title")
	}
	
	
	/**
	 * return the message in the text area formatted as json
	 */
	function getMessageToSend() {
		return $("#talk").val()
	}
	
	/**
	 * erase everything in the text area
	 */
	function emptyTalkTextArea () {
        $("#talk").val('')
	}
	
	/**
	 * send a message when pressing enter key
	 */
    $("#talk").keypress(function (key) {
    	if (keyPressedIsReturnKey(key)) {
    		sendMessage(chatSocket, getMessageToSend(), getSelectedPhoneNumber())
    		emptyTalkTextArea()
    	}
    })
	
    
	/**
	 * send a message when clicking the "send" button 
	 */
	$(".sendButton").click(function() {
		if (getMessageToSend() == "") {
			alert("Saisissez un message")
			return
		}
		if (getSelectedPhoneNumber() == "") {
			alert("Sélectionnez un contact")
			return
		}
		sendMessage(chatSocket, getMessageToSend(), getSelectedPhoneNumber())
		emptyTalkTextArea()
	});
		
    
    /**
     * handle every message received with the websocket
     */
	chatSocket.onmessage = function(event) {
		var msg = JSON.parse(event.data)
		if (msg.error) {
			return
		} else {
			addMessageToConversation(msg, POSITION_OF_INCOMING_MESSAGE)
			notifyUser(msg)
		}
	}

	function notifyUser(msg) {
		var phoneNum = msg.authorPhoneNumber
		var contactToNotify = $('li[title=' + phoneNum + ']')
		if (contactToNotify) {
			// find how many notification already present
			var nbNotifications = contactToNotify.find('span').text()
			if (!nbNotifications) nbNotifications = 0
			// add notification
			var notification = '<span style="margin-right: 10px" class="badge badge-success">' + parseInt(nbNotifications + 1) + '</span>'
			contactToNotify.children().before(notification)
		}
	}

			
	/**
	 * clear conversation
	 */
	$(".clearButton").click(clearConversation);
			
	
})
        
</script>